<!doctype html>
<html>
  <head>
    <title>Sentiment Analysis</title> 
    <style>
        #comment-label, #submit-button {
          display: block;
          margin: auto;
          text-align: center;
        }
    </style>
    <style>
        #comment-field{
          display: block;
          margin: auto;
          text-align: left;
        }
    </style>
  </head>
  <body>
    <h1>Sentiment Analysis</h1> <br>
    <form method="POST" action="{{ url_for('sentiment') }}">
        
        <label id="comment-label" for="comment"><h3>Comment to Analyze:</h3></label>
        <textarea id="comment-field" name="comment" id="comment" rows="20" cols="50" ></textarea><br>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input id="submit-button" type="submit" value="Submit"><br>

    </form>
  </body>
</html>
